
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #008080;
 padding: 50px ;
  width: 70%;
margin: auto;

  font-size: 40px;
  border:solid;
}

.maxNum{
    color: red;
}